/* src/pages/Home.css */

.home-container {
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-family: 'Edu AU VIC WA NT Hand', cursive;
}

#my-header {
  font-size: 50px;
  color: #666;
}

h1 {
  font-size: 4rem; /* Adjust font size for the header */
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  padding-top: 20px;
  font-size: 1.5rem; /* Adjust font size for paragraphs */
  color: #666;
  margin: 15px 0;
  font-weight: normal;
}

.social-media-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Increased spacing between icons */
}

.social-icon {
  font-size: 2rem; /* Adjust icon size */
  color: #333;
}

.footer {
  margin-top: 30px;
  font-size: 1rem;
  color: #555;
}

.footer p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem; /* Adjust header size for tablets */
  }

  p {
    font-size: 1.2rem; /* Adjust font size for paragraphs */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem; /* Adjust header size for small screens */
  }

  p {
    font-size: 1rem; /* Adjust font size for paragraphs */
  }

  .social-media-icons {
    flex-direction: column; /* Stack social icons vertically on smaller screens */
  }
}
